.card{
    width: 90%;
    max-width: 400px;
    height: 150px;
    background-color: rgb(47, 39, 39);
    position: relative;
    overflow: hidden;
    display :flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 10px rgb(5, 6, 6), 2px 2px 20px rgb(89, 165, 236);
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
    flex-shrink: 0;
    padding: 10px;
    
}
.hovercard img{
    width: 60%;
    max-width: 250px;
    height: auto;
    filter: drop-shadow(2px 2px 10px black);
}
.hovercard {
  width: 400px;
  height: 200px;
  background: linear-gradient(to top, rgb(80, 184, 210), rgb(218, 65, 65)); 
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(7px);
}

.card:hover .hovercard{
    transform: translateY(0%);
}
.card h1{
    background: linear-gradient(to right,rgb(203, 65, 70),white);
    background-clip: text;
    color: transparent;
}